html {
    color: white;
    font-size: 1.2em;
    line-height: 1.4;
	background-color: white;
	font-family: 'STIXGeneralBold';
	font-weight: bold;
	height: 100%;
}

h1, h2, p {
	font-weight: lighter;
}

p {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 100;
}

header > h1 {
	font-size: 50px;
}

header > h2 {
	font-size: 30px;
}

header > * {
	text-align: center;
}

body {
	margin: 0px;
	height: 100%;
	background-image: url("../img/bg.png");
	background-position: left top;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#title {
	color: white;
	float: left;
	font-size: 35px;
	padding: 5px 20px;
}

#banner {
	position: relative;
	width: 800px;
	height: 300px;
	margin: 0 auto;
}

#bannerimg, #bannertext {
	position: absolute;
}

#bannerimg {
	top: 0px;
	left: 150px;
	width: 500px;
	opacity: 1;
	transition: opacity 2s;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	height: auto;

}

#bannertext {
	top: 85px;
	left: 150px;
	opacity: 0;
	transition: opacity 2s;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
}

.titlefade {
	font-size: 50px;
	padding-left: 75px;
}

#so {
	color: #cbb7d9;
}

#fa {
	color: #fbb364;
}

#la {
	color: #8dcfe5;
}

#banner:hover #bannerimg {
	opacity: 0;
}

#banner:hover #bannertext {
	opacity: 1;
}

a {
	overflow: auto;
	text-decoration: none;
}

header {
	margin: 0 auto;
	overflow: auto;
}

.navbar {
	float: left;
	min-width: 400px;
	max-width: 800px;
}

.navbar, .contentcontainer {
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

.contentcontainer {
	clear: both;
	min-width: 400px;
	max-width: 1200px;
}

.navbar {

}

.navlink {
	float: left;
	color: white;
	padding: 20px 30px;
}

.navlink, #title {
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.navlink:hover, #title:hover {
	color: #adadad;
}

.contentcontainer {
	
}

#about, #pagetitle {
	float: left;
}

#about {
	padding: 0px 10px;
	clear: left;
	width: 30%;
}

#cover {
	float: right;
	width: 65%;
}

#pagetitle {
	font-family: 'STIXGeneralBold';
	font-weight: bold;
	font-size: 25px;
	margin: 0px 0px 15px 0px;
}

#content {
	clear: left;
}

iframe {
	float: left;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a:visited {
	color: white;
}

footer {
	padding: 20px;
	clear: both;
	text-align: center;
}

footer p {
	font-size: 12px;
}

@media (max-device-width: 800px) {
	#title {
		float: none;
		width: 100%;
		text-align: center;
	}
}