html {
    color: white;
    font-size: 1.2em;
    line-height: 1.4;
	background-color: #C3C3C3;
	font-family: 'STIXGeneralBold';
	font-weight: bold;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	width: 100%
}

nav {
	float: left;
	position: sticky;
	top: 0;
	height: 50px;
	z-index: 9999;
}

nav a {
	text-decoration: none;
}

a {
	color: white;
	transition: color 0.25s;
	-moz-transition: color 0.25s;
	-webkit-transition: color 0.25s;
}

a:visited {
	color: white;
}

a:hover {
	color: #ECECEC;
}

#title {
	font-size: 1.6em;
}

#navlinks {
	position: absolute;
	transition: top 0.25s;
	-moz-transition: top 0.25s;
	-webkit-transition: top 0.25s;
}

#navlinks a {
	padding: 20px 10px;
}

section {
	height: 100vh;
}

#backgroundsection {
	background-image: url("../img/bg.png");
	background-position: left top;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.imagewrapper {
	
}

.imagewrapper img {
	float: left;
	width: 60%;
	height: auto;
	padding-right: 20px;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contentcontainer, nav {
	max-width: 1000px;
	min-width: 800px;
}

.contentcontainer {
	padding-top: 60px;
	margin: 0 auto;
}

#aboutsection .pagetitle {
	margin-top: 0;
	float: right;
	width: 35%;
}

#aboutsection .content {
	float: right;
	width: 35%;
}

.content, footer {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 0.7em;
}

.content iframe {
	padding: 10px;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

footer {
	width: 250px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	nav {
		padding: 5px 0px 0px 5px;
		background-color: #BCBCBC;
		width: 100%;
		min-width: 342px;
	}
	
	#navlinks {
		font-size: 0.75em;
	}
	
	#navlinks a {
		padding-bottom: 10px;
	}
	
	#title {
		font-size: 1.6em;
	}
	
	section {
		min-height: 75vh;
		overflow: auto;
	}
	
	.contentcontainer {
		width: 100%;
		min-width: 0px;
	}
	
	.imagewrapper img {
		width: 100%;
		padding: 0;
	}
	
	#aboutsection .pagetitle {
		float: left;
		width: 100%;
	}
	
	#aboutsection .content, #aboutsection .page-title {
		clear: both;
		float: left;
		width: 100%;
	}
	
	.content iframe {
		padding: 0;
		padding-bottom: 10px;
		width: 100%;
		height: 500px;
		margin: 0 auto;
	}
	
	.content, .pagetitle {
		padding: 10px;
	}
}